<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/create.css" type="text/css" />
  </head>
<body>
  <%- include('partials/_header') %>
    <h2>create quiz</h2>
  <div id="form">
    <form action="/create/questions" method="POST">
      <label for="fname">What do you want to name your quiz?</label><br>
      <input type="text" id="quiz" name="quiz"><br>
      <% for (let i = 1; i< 6; i++) { %>
        <br><br>
        <div id="q<%=i%>">
          <label for="fname">Question <%=i%></label><br>
          <input type="text" id="question" name="question<%=i%>"><br><br>

          <label for="fname">Correct Option</label><br>
          <input type="text" id="answera" name="correct<%=i%>"><br>

          <label for="fname">Second Option</label><br>
          <input type="text" id="answerb" name="answerb<%=i%>"><br>

          <label for="fname">Third Option</label><br>
          <input type="text" id="answerc" name="answerc<%=i%>"><br>

          <label for="fname">Fourth Option</label><br>
          <input type="text" id="answerd" name="answerd<%=i%>"><br>
        </div>
        <br>
        <% } %>

      <input type="submit" id="publish" value="Publish Quiz">
    </form>
  </div>


</body>

</html>
