<!DOCTYPE html>
<html>
  <head>

  </head>
<body>
  <%- include('partials/_header') %>
    <h2>create quiz</h2>
  <div id="form">
    <form action="/create/questions" method="POST">
      <label for="fname">quiz name:</label><br>
      <input type="text" id="quiz" name="quiz"><br>
      <% for (let i = 1; i< 6; i++) { %>
        <br><br>
        <div id="q<%=i%>">
          <label for="fname">question<%=i%>:</label><br>
          <input type="text" id="question" name="question<%=i%>"><br>

          <label for="fname">correct option:</label><br>
          <input type="text" id="answera" name="correct<%=i%>"><br>

          <label for="fname">option 2:</label><br>
          <input type="text" id="answerb" name="answerb<%=i%>"><br>

          <label for="fname">option 3:</label><br>
          <input type="text" id="answerc" name="answerc<%=i%>"><br>

          <label for="fname">option 4:</label><br>
          <input type="text" id="answerd" name="answerd<%=i%>"><br>
        </div>
        <br><br>
        <% } %>

      <input type="submit" value="Submit">
    </form>
  </div>


</body>

</html>
