<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <%- include('partials/_header') %>


    <h2> One of my Quizzes </h2>



    <form action="/create" method="POST">
      <% for (const result of results) { %>

        <label for="fname">
          <%= result.name%>
        </label><br>

        <label for="quiz1"><a href="http://localhost:8080/taken/<%= result.user_id%>/<%= result.id %>">
            <%= result.name%>
          </a></label><br><br>


        <% } %>
    </form>

</body>

</html>
